<footer class="footer bg-light text-center text-lg-start">

  <div class="reach-us">
    <div class="container">
      <div class="info">
        <div style="margin-bottom: 30px;">
          <h5 style="margin: 0;">We're Always Here To Help</h5>
          <span>Reach out to us through any of these support channels</span>
        </div>
        <div class="all-links">
          <div class="link">
            <a href="help.noon.com">
              <img src="assets/warning.png" alt="">
              <div>
                <p>Help Center</p>
                <h5>help.noon.com</h5>
              </div>
            </a>
          </div>
          <div class="link">
            <a href="mailto: egypt@noon.com">
              <img src="assets/email.png" alt="">
              <div>
                <p>Email Support</p>
                <h5>egypt@noon.com</h5>
              </div>
            </a>
          </div>
          <div class="link">
            <a href="tel:16358">
              <img src="assets/phone.png" alt="">
              <div>
                <p>Phone support</p>
                <h5>16358</h5>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">ELECTRONICS</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark">Mobiles</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Tablets</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Laptops</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Home Appliances</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Camera, Photo & Video</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Televisions</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Headphones</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Video Games</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">FASHION</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark">Women's Fashion</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Men's Fashion</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Girls' Fashion</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Boys' Fashion</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Men's Watches</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Women's Watches</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Eyewear</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Bags & Luggage</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">HOME AND KITCHEN</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark">Kitchen & Dining</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Bedding</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Bath</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Home Decor</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Home Appliances</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Tools & Home Improvement</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Patio, Lawn & Garden</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Home Storage & Organisation</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">BEAUTY</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark">Women's Fragrance</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Men's Fragrance</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Make-Up</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Haircare</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Skincare</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Personal Care</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Tools & Accessories</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Men's Grooming</a>
          </li>
          <li>
            <a href="#!" class="text-dark">KIDS, BABY & TOYS</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">KIDS, BABY & TOYS</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark">Strollers, Prams & Accessories</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Car Seats</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Baby Clothing</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Feeding</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Bathing & Skincare</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Diapering</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Baby & Toddler Toys</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Toys & Games</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">TOP BRANDS</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark">Apple</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Samsung</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Nike</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Ray-Ban</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Tefal</a>
          </li>
          <li>
            <a href="#!" class="text-dark">L'Oreal Paris</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Chicco</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Tornado</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <div class="links">
    <div class="container">
      <div class="row">
        <div class="app col-lg-6">
          <h5>SHOP ON THE GO</h5>
          <img width="140" src="assets/app-store.svg" alt="app-store">
          <img width="140" src="assets/google-play.svg" alt="google-play">
        </div>
        <div class="social col-lg-6">
          <h5>CONNECT WITH US</h5>
          <img src="assets/facebook.png" alt="facebook">
          <img src="assets/twitter.png" alt="twitter">
          <img src="assets/instagram.png" alt="instagram">
          <img src="assets/linkedin.png" alt="linkedin">
        </div>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3" style="border-top: 1px solid rgb(204, 199, 199);">
    <a href="https://mdbootstrap.com/" style="text-decoration: none; color: #7E859B; font-weight: bold;">© 2021 noon.
      All
      Rights
      Reserved</a>
  </div>
  <!-- Copyright -->
</footer>
