<section>
    <h2 class="border-bottom">Add new Category section</h2>
    <h5>Available Categories</h5>
    <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col"class="fw-bold">Category Name</th>
            <th scope="col-2" class="fw-bold">Modification</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of allCategory">
            <td>{{category.name}}</td>
            <td>
                <button class="btn btn-primary mx-1">Edit</button>
                <button class="btn btn-danger mx-1">Delete</button>
            </td>
          </tr>
          
        </tbody>
      </table>
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal2">+Add New Category</button>
  
      <!-- Modal -->
      <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add new </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <span *ngIf="categoryName.errors?.required || categoryName.touched" class="text-danger">*This field is required</span>
                  <input type="text" class="form-control my-2" placeholder="Category Name" required #categoryName="ngModel" [(ngModel)]="newCategory.name">
           
                </form>
             
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success" (click)="submit()">Save</button>
            </div>
          </div>
        </div>
      </div> 
    


   
</section>