<section class="row forHer-bg d-flex justify-content-center align-items-center">
    <h2 class="text-center fw-bold mt-3">For Her</h2>
    <div class="col-3">
      <img class="img-responsive w-100" src="assets/Images/en_cat-module-01.png">
      <img class="img-responsive w-100" src="assets/Images/en_cat-module-04.png">
    </div>
    <div class="col-3">
      <img class="img-responsive w-100" src="assets/Images/en_cat-module-02.png">
      <img class="img-responsive w-100" src="assets/Images/en_cat-module-05.png">
    </div>
    <div class="col-3">
      <img class="img-responsive w-100" src="assets/Images/en_cat-module-03.png">
      <img class="img-responsive w-100" src="assets/Images/en_cat-module-06.png">
    </div>
  </section>

