<h2 class="border-bottom">Products Section</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col" class="fw-bold">Number</th>
        <th scope="col" class="fw-bold">Product Name</th>
        <th scope="col" class="fw-bold">Seller</th>
        <th scope="col" class="fw-bold">Price</th>
        <th scope="col" class="fw-bold">Stock</th>
        <th scope="col-2" class="fw-bold">Modification</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1,001</td>
        <td>random</td>
        <td>data</td>
        <td>placeholder</td>
        <td>text</td>
        <td>
            <button class="btn btn-primary mx-1">Edit</button>
            <button class="btn btn-danger mx-1">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>