<h2 class="border-bottom">Products Section</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col" class="fw-bold">Product Name</th>
        <th scope="col" class="fw-bold">Price</th>
        <th scope="col" class="fw-bold">Stock</th>
        <th scope="col-2" class="fw-bold">Modification</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.stock}}</td>
        <td>
            <button class="btn btn-primary mx-1">Edit</button>
            <button class="btn btn-danger mx-1"(click)="delete(product.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>