<h4 class="d-flex my-3 fw-bold">Audio</h4>
  <section class="row">
    <div class="col-4">
      <img class="img-responsive w-100" src="assets/Images/en_cat-14-audio.png">
    </div>
    <div class="col-4">
      <img class="img-responsive w-100" src="assets/Images/en_cat-15-audio.png">
    </div>
    <div class="col-4">
      <img class="img-responsive w-100" src="assets/Images/en_cat-16-audio.png">
    </div>
  </section>
  
  <!-- videogames section -->
  <h4 class="d-flex my-3 fw-bold">Video games</h4>
  <section class="row">
    <div class="col-6 col-md-3">
      <img class="img-responsive my-2 w-100" src="assets/Images/en_cat-17-games.png">
    </div>
    <div class="col-6 col-md-3">
      <img class="img-responsive my-2 w-100" src="assets/Images/en_cat-18-games.png">
    </div>
    <div class="col-6 col-md-3">
      <img class="img-responsive my-2 w-100" src="assets/Images/en_cat-19-games.png">
    </div>
    <div class="col-6 col-md-3">
      <img class="img-responsive my-2 w-100" src="assets/Images/en_cat-20.png">
    </div>
  </section>

  <!-- cameras section -->
  <h4 class="d-flex my-3 fw-bold">Cameras</h4>
  <section class="row">
    <div class="col-4 col-md-2">
      <img class="img-responsive my-2 w-100" src="assets/Images/en_cat-21-camera.png">
    </div>
    <div class="col-4 col-md-2">
      <img class="img-responsive my-2 w-100" src="assets/Images/en_cat-22-camera.png">
    </div>
    <div class="col-4 col-md-2">
      <img class="img-responsive my-2 w-100" src="assets/Images/en_cat-23-camera.png">
    </div>
    <div class="col-4 col-md-2">
      <img class="img-responsive my-2 w-100" src="assets/Images/en_cat-24-camera.png">
    </div>
    <div class="col-4 col-md-2">
      <img class="img-responsive my-2 w-100" src="assets/Images/en_cat-25-camera.png">
    </div>
    <div class="col-4 col-md-2">
      <img class="img-responsive my-2 w-100" src="assets/Images/en_cat-26-camera.png">
    </div>

  </section>
