<section style="margin: 100px 0 200px;">
  <div class="container">
    <div>
      <div>
        <div class="quiz">
          <h2 class="fw-bold">Create an account</h2>
        </div>
        <div class="choose-signup">
          <span>Already have an account? </span>
          <a [routerLink]="['/login']">Sign In</a>
        </div>
        <form #userForm="ngForm" novalidate (ngSubmit)="registerUser()" [formGroup]="signupForm">
          <!-- user name -->
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" formControlName="userName" name="user-name" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" placeholder="Username">
            <div *ngIf="submitted && f.userName.errors" class="invalid-feedback" style="margin: 60px 0 0 30px;">
              <div *ngIf="f.userName.errors.required" style="font-size: 11px;">User name can't be empty</div>
            </div>
          </div>
          <!-- email -->
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" formControlName="email" name="email" class="form-control" aria-describedby="emailHelp"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email" required>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback" style="margin: 60px 0 0 30px;">
              <div *ngIf="f.email.errors.required" style="font-size: 11px;">Email can't be empty</div>
              <div *ngIf="f.email.errors.pattern" style="font-size: 11px;">Invalid email</div>
            </div>
          </div>
          <!-- password -->
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" formControlName="password" name="password" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback" style="margin: 60px 0 0 30px;">
              <div *ngIf="f.password.errors.required" style="font-size: 11px;">password can't be empty</div>
              <div *ngIf="f.password.errors.pattern" style="font-size: 11px;">Invalid password</div>
            </div>
          </div>
          <!-- confirm password -->
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" formControlName="confirmPassword" name="confirmPassword" class="form-control"
              required [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
              placeholder="Confirm Password">
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback" style="margin: 60px 0 0 30px;">
              <div *ngIf="f.confirmPassword.errors.required" style="font-size: 11px;">Confirm Password can't be
                empty
              </div>
              <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
          </div>
          <input type="submit" class="btn" value="Sign up" />
          <p class="social-text">Or Sign up with social platforms</p>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-google"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
