<!-- caroussel part -->
<app-e-carusel-div></app-e-carusel-div>

<div class="container">

  <h4 class="d-flex my-2 fw-bold">Top deals</h4>
  <swiper>
    <ng-template swiperSlide *ngFor="let device of allElectronics" class="bg-white py-3 my-2  mx-1 item">
      <div class=" px-3">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button class="bg-light sml-like mt-2 px-1 "><i class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="lg-font fw-bold ">{{device.name}}</div>
        <span class="mid-font ">{{device.price| currency:"EGP":"symbol"}}</span>
        <!-- express and rating  -->
        <div class="d-flex justify-content-between align-items-center">
          <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
          <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
        </div>
      </div>
    </ng-template>
  </swiper>

   <!-- television and laptop section -->
  <app-tv-laptop-div></app-tv-laptop-div>

  <!-- new arrivals -->
  <h4 class="d-flex my-3 fw-bold">New Arrivals</h4>
  <swiper>
    <ng-template swiperSlide *ngFor="let device of allElectronics" class="bg-white py-3 my-2  mx-1 item">
      <div class=" px-3">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button class="bg-light sml-like mt-2 px-1 "><i class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="lg-font fw-bold ">{{device.name}}</div>
        <span class="mid-font ">{{device.price| currency:"EGP":"symbol"}}</span>
        <!-- express and rating  -->
        <div class="d-flex justify-content-between align-items-center">
          <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
          <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
        </div>
      </div>
    </ng-template>
  </swiper>

  <!-- audio and camera and videogames section -->
  <app-audio-video-camera-div></app-audio-video-camera-div>


</div>