.navbar {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.navbar-nav .dropdown-menu {
  border-radius: 12px;
}

.navbar-nav .dropdown-menu li {
  width: 180px;
  padding-left: 20px;
}

.navbar-nav .dropdown-menu li:hover {
  background-color: #f7f7fa;
}

.navbar-nav .dropdown-menu li a {
  color: #404553;
}

.navbar-nav .dropdown-menu li a:hover {
  background-color: #f7f7fa;
}

.navbar-nav .dropdown-menu li a:active {
  background-color: white;
}

.bg-light {
  background-color: #feee00 !important;
}

.input-group > .form-control {
  font-size: 13px;
  padding: 10px;
}

@media (max-width: 1800px) {
  .input-group > .form-control {
    min-width: 700px;
  }
}

@media (min-width: 1800px) {
  .input-group > .form-control {
    min-width: 1300px;
  }
}

@media (max-width: 1200px) {
  .input-group > .form-control {
    min-width: 400px;
  }
}

@media (max-width: 1000px) {
  .input-group > .form-control {
    min-width: 200px;
  }
}

.input-group > .form-control,
.input-group > .form-select {
  border: none;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  margin-right: 20px;
  margin-left: 20px;
}

@media (max-width: 400px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    margin-right: 0;
    margin-left: 0;
  }
}

.info .x-icon {
  height: 54px;
  text-align: end;
  padding: 10px 13px;
}

.info .x-icon img {
  cursor: pointer;
}

.info .quiz {
  text-align: center;
}

.info .quiz h2 {
  color: #404553;
  font-size: 23.205px;
}

.info .quiz h2:first-of-type {
  font-weight: 100;
  margin: 0;
}

.info .quiz h2:last-of-type {
  font-weight: 600;
  margin-bottom: 12px;
}

.info .choose-signup {
  text-align: center;
  font-size: 13px;
  margin-bottom: 25px;
}

.info .choose-signup span {
  color: #7e859b;
}

.info .choose-signup a {
  text-decoration: none;
  color: #3866df;
  cursor: pointer;
}

.info .the-form form {
  font-size: 13px;
}

.info .the-form form .email,
.info .the-form form .pass,
.info .the-form form .user-name {
  padding: 0 40px;
}

.info .the-form form .email label,
.info .the-form form .pass label,
.info .the-form form .user-name label {
  color: #7e859b;
  margin-bottom: 0;
}

.info .the-form form .email input,
.info .the-form form .pass input,
.info .the-form form .user-name input {
  border: none;
  border-bottom: 1px solid #e2e5f1;
}

.info .the-form form .forget-pass {
  text-align: center;
  font-size: 13px;
  color: #3866df;
  cursor: pointer;
  margin: 32px 0;
}

.info .the-form form button {
  width: 100%;
  text-transform: uppercase;
  background: none;
  border: none;
  outline: none;
  color: #3866df;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  padding: 18px 0;
  border-top: 1px solid #e2e5f1;
}
/*# sourceMappingURL=navbar.component.css.map */