<section class="email-msg" *ngIf="this._formService.authShow">
  <div>
    <p>{{this._formService.authMsg}}</p>
  </div>
</section>



<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid justify-content-center justify-content-md-between">
    <div class="d-flex my-2 my-sm-0">
      <a class="navbar-brand me-2 me-lg-5 mb-1 d-flex justify-content-center" [routerLink]="['/home']">
        <img src="https://z.nooncdn.com/s/app/com/noon/images/logos/noon-black-en.svg" height="50" alt=""
          loading="lazy" />
      </a>
      <!-- Search form -->
      <form class="d-flex input-group w-auto my-auto">
        <input autocomplete="on" type="search" class="form-control rounded" placeholder="What are you looking for?" />
      </form>
    </div>
    <ul class="navbar-nav flex-row">
      <li class="nav-item me-3 me-lg-0">
        <a class="nav-link" href="#">
          <span class="d-lg-inline-block fw-bold" style="color: #000;">العربية</span>
        </a>
      </li>

      <li *ngIf="this._formService.accountStatus; then enabled; else disEnabled">

      </li>
      <ng-template #enabled>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex align-items-center fw-bold" style="color: #404553;" href="#"
            id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sign In
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li class="d-flex" [routerLink]="['/login']">
              <img src="https://z.nooncdn.com/s/app/com/noon/icons/profile_menu_icon_v3.svg" alt="Profile">
              <a class="dropdown-item">User</a>
            </li>
            <li class="d-flex" [routerLink]="['/sellerLogin']">
              <img src="https://z.nooncdn.com/s/app/com/noon/icons/profile_menu_icon_v3.svg" alt="Profile">
              <a class="dropdown-item">Seller</a>
            </li>
          </ul>
        </li>
      </ng-template>

      <ng-template #disEnabled>
        <li *ngIf="this._formService.userStatus; then user; else other">

        </li>
        <ng-template #user>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center fw-bold" style="color: #404553;"
              id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              My Account
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li class="d-flex" data-bs-toggle="modal" data-bs-target="#staticBackdropOne">
                <img src="https://z.nooncdn.com/s/app/com/noon/icons/orders_menu_icon_v3.svg" alt="Profile">
                <a class="dropdown-item">Orders</a>
              </li>
              <li class="d-flex" data-bs-toggle="modal" data-bs-target="#staticBackdropTwo">
                <img src="https://z.nooncdn.com/s/app/com/noon/icons/addresses_menu_icon_v3.svg" alt="Profile">
                <a class="dropdown-item">Addresses</a>
              </li>
              <li class="d-flex" data-bs-toggle="modal" data-bs-target="#staticBackdropTwo">
                <img src="https://z.nooncdn.com/s/app/com/noon/icons/profile_menu_icon_v3.svg" alt="Profile">
                <a class="dropdown-item">Profile</a>
              </li>
              <li>
                <hr style="margin: 0.4rem; opacity: .1;">
              </li>
              <li (click)="logout()"><a class="dropdown-item" href="#">Sign Out</a></li>
            </ul>
          </li>
        </ng-template>
        <ng-template #other>
          <li *ngIf="this._formService.adminOrSeller; then admin; else seller">

          </li>
          <ng-template #admin>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link d-flex align-items-center" [routerLink]="['/dashboard']">
                <span class="me-2 fw-bold" style="color: #404553;">Dashboard</span>
                <span><img width="25px" height="25px" src="assets/Images/dashboard.png" alt=""></span>
              </a>
            </li>
          </ng-template>
          <ng-template #seller>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link d-flex align-items-center" [routerLink]="['/addProduct']">
                <span class="me-2 fw-bold" style="color: #404553;">Add Product</span>
                <span><img width="25px" height="25px" src="assets/Images/product.png" alt=""></span>
              </a>
            </li>
          </ng-template>
        </ng-template>
      </ng-template>

      <!-- Cart or signout -->
      <li *ngIf="this._formService.cartShow; then cart; else signout">

      </li>
      <ng-template #cart>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" [routerLink]="['/cart']">
            <span class="me-2 fw-bold" style="color: #404553;">Cart <span
                class="badge badge-dark">{{_orderService.counter}}</span>
            </span>
            <span><img src="assets/iconmonstr-shopping-cart-5.svg" alt=""></span>
            <span class="badge rounded-pill badge-notification bg-danger d-none">1</span>
          </a>
        </li>
      </ng-template>
      <ng-template #signout>
        <li (click)="logout()" class="nav-item me-3 me-lg-0">
          <a class="nav-link fw-bold" style="color: #404553" href="#">Sign Out</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
<!-- Navbar -->
