.navbar {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
.navbar-nav .dropdown-menu {
  border-radius: 12px;
  li {
    width: 180px;
    padding-left: 20px;
    &:hover {
      background-color: rgb(247, 247, 250);
    }
    a {
      color: #404553;
      &:hover {
        background-color: rgb(247, 247, 250);
      }
      &:active {
        background-color: white;
      }
    }
  }
}
.bg-light {
  background-color: #feee00 !important;
}

.input-group > .form-control {
  font-size: 13px;
  padding: 10px;
  @media (max-width: 1800px) {
    min-width: 700px;
  }
  @media (min-width: 1800px) {
    min-width: 1300px;
  }
  @media (max-width: 1200px) {
    min-width: 400px;
  }
  @media (max-width: 1000px) {
    min-width: 200px;
  }
}

.input-group > .form-control,
.input-group > .form-select {
  border: none;
}

.form-control:focus {
  box-shadow: none;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  margin-right: 20px;
  margin-left: 20px;
  @media (max-width: 400px) {
    margin-right: 0;
    margin-left: 0;
  }
}
// Form
.info {
  .x-icon {
    height: 54px;
    text-align: end;
    padding: 10px 13px;
    img {
      cursor: pointer;
    }
  }
  .quiz {
    text-align: center;
    h2 {
      color: #404553;
      font-size: 23.205px;
      &:first-of-type {
        font-weight: 100;
        margin: 0;
      }
      &:last-of-type {
        font-weight: 600;
        margin-bottom: 12px;
      }
    }
  }
  .choose-signup {
    text-align: center;
    font-size: 13px;
    margin-bottom: 25px;
    span {
      color: rgb(126, 133, 155);
    }
    a {
      text-decoration: none;
      color: #3866df;
      cursor: pointer;
    }
  }
  .the-form {
    form {
      font-size: 13px;
      .email,
      .pass,
      .user-name {
        padding: 0 40px;
        margin-bottom: 30px;
        label {
          color: rgb(126, 133, 155);
          margin-bottom: 0;
          font-weight: bolder;
        }
        input {
          border: none;
          border-bottom: 1px solid #e2e5f1;
        }
      }
      .forget-pass {
        text-align: center;
        font-size: 13px;
        color: #3866df;
        cursor: pointer;
        margin: 32px 0;
      }

      button {
        width: 100%;
        text-transform: uppercase;
        background: none;
        border: none;
        outline: none;
        color: #3866df;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        padding: 18px 0;
        border-top: 1px solid #e2e5f1;
      }
    }
  }
}
