 <!--Wear Devices Div-->
 <div class="row my-3">
    <img src="/assets/Images/mobileImages/wearableDevicesTitle.png">
</div>
<div class="row pinkDiv justify-content-center">
    <div class="col-4 py-3">
        <img class="wearDevices" src="/assets/Images/mobileImages/wearDevice1.png">
    </div>
    <div class="col-4 py-3">
        <img class="wearDevices" src="/assets/Images/mobileImages/wearDevice2.png">
    </div>
    <div class="col-4 py-3">
        <img class="wearDevices" src="/assets/Images/mobileImages/wearDevice3.png">
    </div>
</div>

<!--Accessories  Div-->
<div class="row my-3 ">
    <img src="/assets/Images/mobileImages/mobileAccessTitle.png">
</div>
<div class="row pinkDiv justify-content-center">
    <div class="row">
        <div class="col-4 py-3">
            <img class="accessories" src="/assets/Images/mobileImages/access1.png">
        </div>
        <div class="col-4 py-3">
            <img class="accessories" src="/assets/Images/mobileImages/access2.png">
        </div>
        <div class="col-4 py-3">
            <img class="accessories" src="/assets/Images/mobileImages/access3.png">
        </div>
    </div>
    <div class="row">
        <div class="col-3 py-4">
            <img class="accessories" src="/assets/Images/mobileImages/access4.png">
        </div>
        <div class="col-3 py-3">
            <img class="accessories" src="/assets/Images/mobileImages/access5.png">
        </div>
        <div class="col-3 py-3">
            <img class="accessories" src="/assets/Images/mobileImages/access6.png">
        </div>
        <div class="col-3 py-3">
            <img class="accessories" src="/assets/Images/mobileImages/access7.png">
        </div>
    </div>
    <div class="row">
        <div class="col-4 py-3">
            <img class="accessories" src="/assets/Images/mobileImages/access8.png">
        </div>
        <div class="col-4 py-3">
            <img class="accessories" src="/assets/Images/mobileImages/access9.png">
        </div>
        <div class="col-4 py-3">
            <img class="accessories" src="/assets/Images/mobileImages/access10.png">
        </div>
    </div>
</div>
<!--Favmobile div-->
<div class="row my-3">
    <img class="p-0" src="/assets/Images/mobileImages/favMobile.png">
</div>