.sml-font{
font-size: 12px;
}
.item{
    width:15%;
}
.img{
    width:fit-content;
    height: fit-content;
    border: 2px solid;
    border-color: gray;
    border-radius:4px;
}
.medium-font{
font-size: 13px;
}
.buyNowSection{
    background-color:#fcfbf5;
}
.deliverSection{
    background-color:#f5f7fe;
}
.express{
    background-color:#feee00;
    color: #494d4f;
    border-radius: 20px 0 20px 20px;
}
.like{
    border: 0px;
    padding: 12px;
    border-radius: 50%;
    background-image: radial-gradient(white,#aab8c2)  ;
    color: #494d4f;
    transition: all;
    transition-duration:500ms;
    &:focus{
        color:#e2264d;
        background-image: radial-gradient(#aab8c2,#aab8c2)
    }
}
.stars{
    
    color:#f2994a;
}
.sml-like{
    border: 0px;
    border-radius: 50%;
}
