<section class="d-flex justify-content-center align-items-center">
    <div id="carouselExampleControls6" class="carousel slide d-flex justify-content-around align-items-center " data-bs-ride="carousel" style="width:90%;">
       <button class="nextBtn rounded-circle py-1" type="button" data-bs-target="#carouselExampleControls6" data-bs-slide="prev">
           <i class="bi bi-chevron-left"></i>
           <span class="visually-hidden">Previous</span>
         </button>
       <div class="carousel-inner">
           
         <div class="carousel-item active">
             
           <!-- single page in caroussel -->
      <div class="row">
       <div class="col-5 col-md-2 bg-white py-3 my-2 ">
           <!-- like button -->
           <div class="d-flex justify-content-end align-items">
             <button  class="bg-light sml-like mt-2 px-1 "><i #item1_six (click)="addToWish(item1_six)" class="bi bi-suit-heart"></i></button>
           </div>
           <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
           <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
           <div>EGP <span class="fw-bold">125.00</span></div>
       <!-- express and rating  -->
       <div class="d-flex justify-content-between align-items-center">
           <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
       <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
       </div>
       </div>
       <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item2_six (click)="addToWish(item2_six)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item3_six (click)="addToWish(item3_six)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item4_six (click)="addToWish(item4_six)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item5_six (click)="addToWish(item5_six)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item6_six (click)="addToWish(item6_six)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    
    </div>
         </div>
         <div class="carousel-item">
           <!-- single page in caroussel -->
      <div class="row">
       <div class="col-5 col-md-2 bg-white py-3 my-2 ">
           <!-- like button -->
           <div class="d-flex justify-content-end align-items">
             <button  class="bg-light sml-like mt-2 px-1 "><i #item11_six (click)="addToWish(item11_six)" class="bi bi-suit-heart"></i></button>
           </div>
           <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
           <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
           <div>EGP <span class="fw-bold">125.00</span></div>
       <!-- express and rating  -->
       <div class="d-flex justify-content-between align-items-center">
           <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
       <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
       </div>
       </div>
       <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item12_six (click)="addToWish(item12_six)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item13_six (click)="addToWish(item13_six)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item14_six (click)="addToWish(item14_six)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item15_six (click)="addToWish(item15_six)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item16_six (click)="addToWish(item16_six)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    
    </div>
         </div>
         <div class="carousel-item">
            <!-- single page in caroussel -->
      <div class="row">
       <div class="col-5 col-md-2 bg-white py-3 my-2 ">
           <!-- like button -->
           <div class="d-flex justify-content-end align-items">
             <button  class="bg-light sml-like mt-2 px-1 "><i #item21_six (click)="addToWish(item21_six)" class="bi bi-suit-heart"></i></button>
           </div>
           <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
           <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
           <div>EGP <span class="fw-bold">125.00</span></div>
       <!-- express and rating  -->
       <div class="d-flex justify-content-between align-items-center">
           <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
       <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
       </div>
       </div>
       <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item22_six (click)="addToWish(item22_six)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item23_six (click)="addToWish(item23_six)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item24_six (click)="addToWish(item24_six)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item25_six (click)="addToWish(item25_six)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item26_six (click)="addToWish(item26_six)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    
    </div>
         </div>
       </div>
      
       <button class="nextBtn rounded-circle py-1" type="button" data-bs-target="#carouselExampleControls6" data-bs-slide="next">
           <i class="bi bi-chevron-right "></i>
         <span class="visually-hidden">Next</span>
       </button>
     </div> 
   </section>