@import url("../register-form/register-form.component.scss");

.quiz {
  text-align: center;
  h2 {
    color: #404553;
    font-size: 30px;
    &:first-of-type {
      font-weight: 100;
      margin: 0;
    }
    &:last-of-type {
      font-weight: 600;
      margin-bottom: 12px;
    }
  }
}

.choose-signup {
  text-align: center;
  font-size: 13px;
  margin-bottom: 15px;
  span {
    color: rgb(126, 133, 155);
  }
  a {
    text-decoration: none;
    color: #3866df;
    cursor: pointer;
  }
}
