.pricekDiv{
    background-color: #efe8f5;
}
.brandDiv{
    background-color: #e9f5f5;
    .col-1{margin-right: 8em;}
}
.pinkDiv{
    background-color: #f5e9ea;
    .wearDevices{
        width: 90%;
    }
    .accessories{
        width: 98%;
    }
    
}