<div class="container-fluid">
        
    <!-- caroussel part -->
<div class="">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/Images/mobileImages/carouselImage1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/Images/mobileImages/carouselImage2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/Images/mobileImages/carouselImage3.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/Images/mobileImages/carouselImage4.png" class="d-block w-100" alt="...">
        </div>
     
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!--Prices range Div-->
  <div class="row priceDiv mt-1 justify-content-center">
      <div class="col-1 me-5 pt-4">
          <img src="assets/Images/mobileImages/priceRange1.png">
      </div>
      <div class="col-1 mx-5 pt-4">
        <img src="assets/Images/mobileImages/priceRange2.png">
      </div>
      <div class="col-1 mx-5 pt-4">
        <img src="assets/Images/mobileImages/priceRange3.png">
      </div>
      <div class="col-1 mx-5 pt-4">
        <img src="assets/Images/mobileImages/priceRange4.png">
      </div>
      <div class="col-1 mx-5 pt-4">
        <img src="assets/Images/mobileImages/priceRange5.png">
      </div>
      <div class="col-1 mx-5 pt-4">
        <img src="assets/Images/mobileImages/priceRange6.png">
      </div>

    </div>
<div class="row">
    

</div>

</div>
