<section class="d-flex justify-content-center align-items-center">
    <div id="carouselExampleControls5" class="carousel slide d-flex justify-content-around align-items-center " data-bs-ride="carousel" style="width:90%;">
       <button class="nextBtn rounded-circle py-1" type="button" data-bs-target="#carouselExampleControls5" data-bs-slide="prev">
           <i class="bi bi-chevron-left"></i>
           <span class="visually-hidden">Previous</span>
         </button>
       <div class="carousel-inner">
           
         <div class="carousel-item active">
             
           <!-- single page in caroussel -->
      <div class="row">
       <div class="col-5 col-md-2 bg-white py-3 my-2 ">
           <!-- like button -->
           <div class="d-flex justify-content-end align-items">
             <button  class="bg-light sml-like mt-2 px-1 "><i #item1_five (click)="addToWish(item1_five)" class="bi bi-suit-heart"></i></button>
           </div>
           <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
           <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
           <div>EGP <span class="fw-bold">125.00</span></div>
       <!-- express and rating  -->
       <div class="d-flex justify-content-between align-items-center">
           <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
       <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
       </div>
       </div>
       <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item2_five (click)="addToWish(item2_five)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item3_five (click)="addToWish(item3_five)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item4_five (click)="addToWish(item4_five)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item5_five (click)="addToWish(item5_five)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item6_five (click)="addToWish(item6_five)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    
    </div>
         </div>
         <div class="carousel-item">
           <!-- single page in caroussel -->
      <div class="row">
       <div class="col-5 col-md-2 bg-white py-3 my-2 ">
           <!-- like button -->
           <div class="d-flex justify-content-end align-items">
             <button  class="bg-light sml-like mt-2 px-1 "><i #item11_five (click)="addToWish(item11_five)" class="bi bi-suit-heart"></i></button>
           </div>
           <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
           <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
           <div>EGP <span class="fw-bold">125.00</span></div>
       <!-- express and rating  -->
       <div class="d-flex justify-content-between align-items-center">
           <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
       <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
       </div>
       </div>
       <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item12_five (click)="addToWish(item12_five)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item13_five (click)="addToWish(item13_five)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item14_five (click)="addToWish(item14_five)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item15_five (click)="addToWish(item15_five)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item16_five (click)="addToWish(item16_five)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    
    </div>
         </div>
         <div class="carousel-item">
            <!-- single page in caroussel -->
      <div class="row">
       <div class="col-5 col-md-2 bg-white py-3 my-2 ">
           <!-- like button -->
           <div class="d-flex justify-content-end align-items">
             <button  class="bg-light sml-like mt-2 px-1 "><i #item21_five (click)="addToWish(item21_five)" class="bi bi-suit-heart"></i></button>
           </div>
           <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
           <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
           <div>EGP <span class="fw-bold">125.00</span></div>
       <!-- express and rating  -->
       <div class="d-flex justify-content-between align-items-center">
           <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
       <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
       </div>
       </div>
       <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item22_five (click)="addToWish(item22_five)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item23_five (click)="addToWish(item23_five)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item24_five (click)="addToWish(item24_five)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item25_five (click)="addToWish(item25_five)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item26_five (click)="addToWish(item26_five)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    
    </div>
         </div>
       </div>
      
       <button class="nextBtn rounded-circle py-1" type="button" data-bs-target="#carouselExampleControls5" data-bs-slide="next">
           <i class="bi bi-chevron-right "></i>
         <span class="visually-hidden">Next</span>
       </button>
     </div> 
   </section>