<section class="row d-flex justify-content-around align-items-center my-3">
    <div class="col-1">
      <img src="assets/Images/en_category-01.gif" class="img-responsive w-100">
    </div>
    <div class="col-1">
      <img src="assets/Images/en_category-02.png" class="img-responsive w-100">
    </div>
    <div class="col-1">
      <img src="assets/Images/en_category-03.png" class="img-responsive w-100">
    </div>
    <div class="col-1">
      <img src="assets/Images/en_category-04.png" class="img-responsive w-100">
    </div>
    <div class="col-1">
      <img src="assets/Images/en_category-05.png" class="img-responsive w-100">
    </div>
    <div class="col-1">
      <img src="assets/Images/en_category-06.png" class="img-responsive w-100">
    </div>
    <div class="col-1">
      <img src="assets/Images/en_category-07.png" class="img-responsive w-100">
    </div>
    <div class="col-1">
      <img src="assets/Images/en_category-08.png" class="img-responsive w-100">
    </div>
    <div class="col-1">
      <img src="assets/Images/en_category-09.png" class="img-responsive w-100">
    </div>
  </section>