<section class="row forHim-bg d-flex justify-content-center align-items-center">
    <h2 class="text-center fw-bold mt-3">For Him</h2>
    <div class="col-3">
      <img class="img-responsive w-100" src="assets/Images/en_cat-module-07.png">
      <img class="img-responsive w-100" src="assets/Images/en_cat-module-10.png">
    </div>
    <div class="col-3">
      <img class="img-responsive w-100" src="assets/Images/en_cat-module-08.png">
      <img class="img-responsive w-100" src="assets/Images/en_cat-module-11.png">
    </div>
    <div class="col-3">
      <img class="img-responsive w-100" src="assets/Images/en_cat-module-09.png">
      <img class="img-responsive w-100" src="assets/Images/en_cat-module-12.png">
    </div>
  </section>