<app-navbar></app-navbar>
<app-navbar2></app-navbar2>
<!-- <app-home-page></app-home-page> -->
<!-- <app-list-of-items></app-list-of-items> -->
<!-- <app-fashion-page></app-fashion-page> -->
<!-- <app-product-details></app-product-details> -->
<!-- <app-add-to-cart></app-add-to-cart> -->
<!-- <app-electronics-page></app-electronics-page> -->
<!-- <app-swipper></app-swipper> -->

<!-- <app-products-display></app-products-display> -->

<!-- <app-add-product></app-add-product> -->
<!-- <app-dashboard></app-dashboard> -->
<!-- <app-register-form></app-register-form> -->
<!-- <app-login-admin></app-login-admin> -->
<!-- <app-register-admin></app-register-admin> -->
<!-- <app-facebook-login></app-facebook-login> -->

<router-outlet></router-outlet>

<app-footer></app-footer>
