<h4 class="d-flex mt-4 fw-bold">Televisions</h4>
<section class="row">
    <img class="img-responsive w-100" src="assets/Images/en_cat-01-tv.png"> 
    <div class="col-4">
        <img class="img-responsive my-2 w-100" src="assets/Images/en_cat-02-tv.png">
    </div>
    <div class="col-4">
      <img class="img-responsive my-2 w-100" src="assets/Images/en_cat-03-tv.png">
  </div>
  <div class="col-4">
      <img class="img-responsive my-2 w-100" src="assets/Images/en_cat-04-tv.png">
  </div>

</section>
<!-- laptop section -->
<h4 class="d-flex my-3 fw-bold">Laptops</h4>
<section class="row">
  <div class="col-4">
      <img class="img-responsive my-2 w-100" src="assets/Images/en_cat-05-lap.png">
  </div>
  <div class="col-4">
    <img class="img-responsive my-2 w-100" src="assets/Images/en_cat-06-lap.png">
</div>
<div class="col-4">
    <img class="img-responsive my-2 w-100" src="assets/Images/en_cat-07-lap.png">
</div>

</section>
<section class="row">
    <div class="col-4 col-md-2">
        <img class="img-responsive my-2 w-100" src="assets/Images/en_cat-08-lap.png">
    </div>
    <div class="col-4 col-md-2">
      <img class="img-responsive my-2 w-100" src="assets/Images/en_cat-09.png">
  </div>
  <div class="col-4 col-md-2">
      <img class="img-responsive my-2 w-100" src="assets/Images/en_cat-10-lap.png">
  </div>
  <div class="col-4 col-md-2">
      <img class="img-responsive my-2 w-100" src="assets/Images/en_cat-11.png">
  </div>
  <div class="col-4 col-md-2">
      <img class="img-responsive my-2 w-100" src="assets/Images/en_cat-12-lap.png">
  </div>
  <div class="col-4 col-md-2">
      <img class="img-responsive my-2 w-100" src="assets/Images/en_cat-13-lap.png">
  </div>
</section>