<div
  class="modal fade bg-warning"
  id="thanksModal"
  aria-hidden="true"
  aria-labelledby="exampleModalToggleLabel2"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content shadow-lg" style="background: rgba(240, 248, 255, 0.18);">
      <div class="modal-header justify-content-center">
        <img
          src="https://z.nooncdn.com/s/app/com/noon/images/logos/noon-black-en.svg"
          height="150em"
          alt=""
          loading="lazy"
        />
      </div>
      <div class="modal-body" style="text-align: center">
        <p class="text-dark fs-1">Thanks for using our Noon</p>
        <p class="fs-5"> We got your order now</p>

      </div>
    </div>
  </div>
</div>
