<div class="modal fade" id="summaryModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Summary</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col-1">#</th>
                            <th scope="col-4">Order Date</th>
                            <th scope="col">{{today}}</th>
                        </tr>
                        <tr>
                            <th scope="col-1">#</th>
                            <th scope="col-4">Deliviy Date</th>
                            <th scope="col">{{deliveryDate}}</th>
                        </tr>
                        <tr>
                            <th scope="col-1">#</th>
                            <th scope="col-4">location</th>
                            <th scope="col">{{_orderService.location}}</th>
                        </tr>
                        <tr>
                            <th scope="col-1">#</th>
                            <th scope="col-4">Mobile</th>
                            <th scope="col">+20{{_orderService.mobileNumber}}</th>
                        </tr>
                        <tr>
                            <th scope="col-1">#</th>
                            <th scope="col-4">Total price</th>
                            <th scope="col">{{_orderService.totalPrice | currency:"EGP ":"symbol"}}</th>
                        </tr>
                    </thead>
                
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#addressModal" data-bs-toggle="modal"
                    data-bs-dismiss="modal">
                    Back to location
                </button>
                <button class="btn btn-success" data-bs-target="#thanksModal" data-bs-toggle="modal"
                data-bs-dismiss="modal" (click)="clearCart()">
                Submit
            </button>
            </div>
        </div>
    </div>
</div>
<app-thanks-modal></app-thanks-modal>