<!-- caroussel part -->
<div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/Images/en_banner-01.gif" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/Images/en_banner-02.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/Images/en_banner-03.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/Images/en_banner-04.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="assets/Images/en_banner-01 (1).gif" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/Images/en_banner-01 (4).png" class="d-block w-100" alt="...">
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!-- categories part -->
  <section class="row d-flex justify-content-around align-items-center my-3">
      <div class="col-1">
          <img  src="assets/Images/en_category-01.gif" class="img-responsive w-100" >
      </div>
      <div class="col-1">
        <img  src="assets/Images/en_category-02.png" class="img-responsive w-100" >
      </div>
      <div class="col-1">
        <img  src="assets/Images/en_category-03.png" class="img-responsive w-100" >
      </div>
      <div class="col-1">
        <img  src="assets/Images/en_category-04.png" class="img-responsive w-100" >
      </div>
      <div class="col-1">
        <img  src="assets/Images/en_category-05.png" class="img-responsive w-100" >
      </div>
      <div class="col-1">
        <img  src="assets/Images/en_category-06.png" class="img-responsive w-100" >
      </div>
      <div class="col-1">
        <img  src="assets/Images/en_category-07.png" class="img-responsive w-100" >
      </div>
      <div class="col-1">
        <img  src="assets/Images/en_category-08.png" class="img-responsive w-100" >
      </div>
      <div class="col-1">
        <img  src="assets/Images/en_category-09.png" class="img-responsive w-100" >
      </div>
  </section>
  <!-- for her section -->
  <section class="row forHer-bg d-flex justify-content-center align-items-center" >
      <h2 class="text-center fw-bold">For Her</h2>
      <div class="col-3">
          <img class="img-responsive w-100" src="assets/Images/en_cat-module-01.png">
          <img class="img-responsive w-100" src="assets/Images/en_cat-module-04.png">
      </div>
      <div class="col-3">
        <img class="img-responsive w-100" src="assets/Images/en_cat-module-02.png">
        <img class="img-responsive w-100" src="assets/Images/en_cat-module-05.png">
    </div>
    <div class="col-3">
        <img class="img-responsive w-100" src="assets/Images/en_cat-module-03.png">
        <img class="img-responsive w-100" src="assets/Images/en_cat-module-06.png">
    </div>
  </section>

  <!-- fashion top sellers for her section -->
  <section class="row justify-content-around align-items-center" >
      <h4 class="d-flex m-2"> Fashion top seller for her</h4>
      <app-list2></app-list2>
  </section>
  
   <!-- for him section -->
   <section class="row forHim-bg d-flex justify-content-center align-items-center" >
    <h2 class="text-center fw-bold">For Him</h2>
    <div class="col-3">
        <img class="img-responsive w-100" src="assets/Images/en_cat-module-07.png">
        <img class="img-responsive w-100" src="assets/Images/en_cat-module-10.png">
    </div>
    <div class="col-3">
      <img class="img-responsive w-100" src="assets/Images/en_cat-module-08.png">
      <img class="img-responsive w-100" src="assets/Images/en_cat-module-11.png">
  </div>
  <div class="col-3">
      <img class="img-responsive w-100" src="assets/Images/en_cat-module-09.png">
      <img class="img-responsive w-100" src="assets/Images/en_cat-module-12.png">
  </div>
</section>

 <!-- fashion top sellers for Him section -->
 <section class="row justify-content-around align-items-center" >
    <h4 class="d-flex m-2"> Fashion top seller for him</h4>
    <app-list3></app-list3>
    
 </section>


<!-- waatchers for him and for her -->
<section class="row justify-content-around align-items-center">
    <div class="col-6">
        <img class="img-responsive w-100" src="assets/Images/en_cat-module-13.png">
    </div>
    <div class="col-6">
        <img class="img-responsive w-100" src="assets/Images/en_cat-module-14.png">
    </div>
</section>
<!-- watches top seller section -->
<section class="row justify-content-around align-items-center" >
    <h4 class="d-flex m-2"> Fashion to seller for him</h4>
    <app-list4></app-list4>
</section>

<!-- the gif section -->
<section class="row d-flex justify-content-around align-items-center">
    <img class="img-responsive w-100" src="assets/Images/en_strip-01.gif">
</section>

<!-- eyeWear section -->
<section class="row d-flex justify-content-around align-items-center">
    <div class="col-6">
        <img class="img-responsive w-100" src="assets/Images/en_cat-module-15.png">
    </div>
    <div class="col-6">
        <img class="img-responsive w-100" src="assets/Images/en_cat-module-16.png">
    </div>
</section>

<!-- eyeWear top seller  -->
<section class="row justify-content-around align-items-center" >
    <h4 class="d-flex m-2"> Fashion to seller for him</h4>
    <app-list5></app-list5>
</section>

<!-- top brands section -->
<div class="d-flex justify-content-center align-itmes-center">
    <img class="img-responsive w-100" src="assets/Images/en_title-03.png">
</div>
<section class="row d-flex justify-content-center align-itmes-center">
    <div class="col-4">
        <img class="img-responsive my-2 w-100" src="assets/Images/en_brand-01.png">
        <img class="img-responsive my-2 w-100" src="assets/Images/en_brand-04.png">
        <img class="img-responsive my-2 w-100" src="assets/Images/en_brand-07.png">
    </div>
    <div class="col-4">
        <img class="img-responsive my-2 w-100" src="assets/Images/en_brand-02.png">
        <img class="img-responsive my-2 w-100" src="assets/Images/en_brand-05.png">
        <img class="img-responsive my-2 w-100" src="assets/Images/en_brand-08.png">
    </div>
    <div class="col-4">
        <img class="img-responsive my-2 w-100" src="assets/Images/en_brand-03.png">
        <img class="img-responsive my-2 w-100" src="assets/Images/en_brand-06.png">
        <img class="img-responsive my-2 w-100" src="assets/Images/en_brand-09.png">
    </div>

</section>
