<!-- caroussel part -->
<app-f-carusel-div></app-f-carusel-div>

<div class="container">
  <!-- categories part -->
  <app-f-category-div></app-f-category-div>

  <!-- for her section -->
  <app-her-div></app-her-div>

  <!-- fashion top sellers for her section -->
  <section class="row justify-content-around align-items-center">
    <h4 class="d-flex m-2 mt-3"> Fashion top seller for her</h4>
    <swiper>
      <ng-template swiperSlide *ngFor="let piece of allFashion" class="bg-white py-3 my-2  mx-1 item" >
        <div  class=" px-3" (click)="_productService.onClick(piece)">
          <!-- like button -->
              <div class="d-flex justify-content-end align-items">
                  <button class="bg-light sml-like mt-2 px-1 "><i class="bi bi-suit-heart"></i></button>
              </div>
              <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
              <div class="lg-font fw-bold ">{{piece.name}}</div>
              <span class="mid-font ">{{piece.price| currency:"EGP":"symbol"}}</span>
              <!-- express and rating  -->
              <div class="d-flex justify-content-between align-items-center">
                  <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
                  <span class="sml-font"> <i class="bi bi-star-fill stars"> {{piece.rating}}</i> (14)</span>
                </div>
          </div>
      </ng-template>
  </swiper>
  </section>

  <!-- for him section -->
  <app-him-div></app-him-div>

  <!-- fashion top sellers for Him section -->
  <section class="row justify-content-around align-items-center">
    <h4 class="d-flex m-2 mt-3"> Fashion top seller for him</h4>
    <swiper>
      <ng-template swiperSlide *ngFor="let piece of allFashion" class="bg-white py-3 my-2  mx-1 item" >
          <div  class=" px-3">
              <!-- like button -->
              <div class="d-flex justify-content-end align-items">
                  <button class="bg-light sml-like mt-2 px-1 "><i class="bi bi-suit-heart"></i></button>
              </div>
              <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
              <div class="lg-font fw-bold ">{{piece.name}}</div>
              <span class="mid-font ">{{piece.price| currency:"EGP":"symbol"}}</span>
              <!-- express and rating  -->
              <div class="d-flex justify-content-between align-items-center">
                  <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
                  <span class="sml-font"> <i class="bi bi-star-fill stars"> {{piece.rating}}</i> (14)</span>
                </div>
          </div>
      </ng-template>
  </swiper>
  </section>

  <!-- waatchers for him and for her -->
  <section class="row justify-content-around align-items-center">
    <div class="col-6">
      <img class="img-responsive w-100" src="assets/Images/en_cat-module-13.png">
    </div>
    <div class="col-6">
      <img class="img-responsive w-100" src="assets/Images/en_cat-module-14.png">
    </div>
  </section>

  <!-- watches top seller section -->
  <section class="row justify-content-around align-items-center">
    <h4 class="d-flex m-2"> Fashion to seller for him</h4>
    <swiper>
      <ng-template swiperSlide *ngFor="let piece of allFashion" class="bg-white py-3 my-2  mx-1 item" >
          <div  class=" px-3">
              <!-- like button -->
              <div class="d-flex justify-content-end align-items">
                  <button class="bg-light sml-like mt-2 px-1 "><i class="bi bi-suit-heart"></i></button>
              </div>
              <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
              <div class="lg-font fw-bold ">{{piece.name}}</div>
              <span class="mid-font ">{{piece.price| currency:"EGP":"symbol"}}</span>
              <!-- express and rating  -->
              <div class="d-flex justify-content-between align-items-center">
                  <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
                  <span class="sml-font"> <i class="bi bi-star-fill stars"> {{piece.rating}}</i> (14)</span>
              </div>
          </div>
      </ng-template>
  </swiper>
  </section>

  <!-- the gif section -->
  <section class="row d-flex justify-content-around align-items-center">
    <img class="img-responsive w-100 p-0" src="assets/Images/en_strip-01.gif">
  </section>

  <!-- eyeWear section -->
  <section class="row d-flex justify-content-around align-items-center">
    <div class="col-6">
      <img class="img-responsive w-100" src="assets/Images/en_cat-module-15.png">
    </div>
    <div class="col-6">
      <img class="img-responsive w-100" src="assets/Images/en_cat-module-16.png">
    </div>
  </section>

  <!-- eyeWear top seller  -->
  <section class="row justify-content-around align-items-center">
    <h4 class="d-flex m-2"> Fashion to seller for him</h4>
    <swiper>
      <ng-template swiperSlide *ngFor="let piece of allFashion" class="bg-white py-3 my-2  mx-1 item" >
          <div  class=" px-3">
              <!-- like button -->
              <div class="d-flex justify-content-end align-items">
                  <button class="bg-light sml-like mt-2 px-1 "><i class="bi bi-suit-heart"></i></button>
              </div>
              <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
              <div class="lg-font fw-bold ">{{piece.name}}</div>
              <span class="mid-font ">{{piece.price| currency:"EGP":"symbol"}}</span>
              <!-- express and rating  -->
              <div class="d-flex justify-content-between align-items-center">
                  <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
                  <span class="sml-font"> <i class="bi bi-star-fill stars"> {{piece.rating}}</i> (14)</span>
              </div>
          </div>
      </ng-template>
  </swiper>
  </section>

  <!-- top brands section -->
  <app-top-brands-div></app-top-brands-div>
</div>