
    <!--Prices range Div-->
    <div class="row pricekDiv mt-4 justify-content-center">
        <div class="col-1 me-5 py-3">
            <img src="assets/Images/mobileImages/priceRange1.png">
        </div>
        <div class="col-1 mx-5 py-3">
            <img src="assets/Images/mobileImages/priceRange2.png">
        </div>
        <div class="col-1 mx-5 py-3">
            <img src="assets/Images/mobileImages/priceRange3.png">
        </div>
        <div class="col-1 mx-5 py-3">
            <img src="assets/Images/mobileImages/priceRange4.png">
        </div>
        <div class="col-1 mx-5 py-3">
            <img src="assets/Images/mobileImages/priceRange5.png">
        </div>
        <div class="col-1 mx-5 py-3">
            <img src="assets/Images/mobileImages/priceRange6.png">
        </div>
    </div>