<div class="Categories" (mouseleave)="hideList()">
  <section class="navbar2">
    <nav>
      <div class="container-fluid d-flex">
        <div class="all-cate">
          <div><a href="#">All Categories</a></div>
          <div>
            <img width="15" src="assets/iconmonstr-arrow-80-241.png" alt="">
          </div>
        </div>
        <div class="cate">
          <ul>
            <li (mouseover)="showList()" (click)="hideList()"><a href="#">Electronics</a></li>
            <li (mouseover)="showList()" (click)="hideList()"><a href="#">Mobiles</a></li>
            <li (mouseover)="showList()" (click)="hideList()"><a [routerLink]="['/fashion']">Fashion</a></li>
            <li (mouseover)="showList()" (click)="hideList()"><a href="#">Home</a></li>
            <li (mouseover)="showList()" (click)="hideList()"><a href="#">Beauty & Healthy</a></li>
            <li (mouseover)="showList()" (click)="hideList()"><a href="#">Baby & Toys</a></li>
            <li (mouseover)="showList()" (click)="hideList()"><a href="#">Subermarket</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </section>

  <!-- [class.d-none]="show" -->

  <section *ngIf="show" class="category-list" (mouseleave)="hideList()">
    <div class="container-fluid d-flex">
      <ul class="brand-list">
        <li><a href="#">Electronics</a></li>
        <li><a href="#">Mobiles</a></li>
        <li><a href="#">Fashion</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Beauty & Healthy</a></li>
        <li><a href="#">Baby & Toys</a></li>
        <li><a href="#">Subermarket</a></li>
      </ul>
      <div class="brand-logos">
        <div class="right">
          <h2>Brands</h2>
          <ul>
            <li><a href="#"><img src="assets/loreal.png" alt=""></a></li>
            <li><a href="#"><img src="assets/loreal.png" alt=""></a></li>
            <li><a href="#"><img src="assets/loreal.png" alt=""></a></li>
            <li><a href="#"><img src="assets/loreal.png" alt=""></a></li>
            <li><a href="#"><img src="assets/loreal.png" alt=""></a></li>
            <li><a href="#"><img src="assets/loreal.png" alt=""></a></li>
            <li><a href="#"><img src="assets/loreal.png" alt=""></a></li>
            <li><a href="#"><img src="assets/loreal.png" alt=""></a></li>
            <li><a href="#"><img src="assets/loreal.png" alt=""></a></li>
          </ul>
        </div>
        <div class="left">
          <div class="photo"><a href="#"><img class="img-1" src="assets/en_drop-01.png" alt=""></a></div>
          <div class="photo"><a href="#"><img class="img-2" src="assets/en_drop-02.png" alt=""></a></div>
        </div>
      </div>
    </div>
  </section>
</div>
