<section class="navbar2">
  <nav>
    <div class="all-cate">
      <div><a href="#">All Categories</a></div>
      <div>
        <img width="15" src="assets/iconmonstr-arrow-80-241.png" alt="">
      </div>
    </div>
    <div class="cate">
      <ul>
        <li><a href="#">Electronics</a></li>
        <li><a href="#">Mobiles</a></li>
        <li><a href="#">Fashion</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Beauty & Healthy</a></li>
        <li><a href="#">Baby & Toys</a></li>
        <li><a href="#">Subermarket</a></li>
      </ul>
    </div>
  </nav>
</section>



<section class="category-list">
  <ul class="brand-list">
    <li><a href="#">Electronics</a></li>
    <li><a href="#">Mobiles</a></li>
    <li><a href="#">Fashion</a></li>
    <li><a href="#">Home</a></li>
    <li><a href="#">Beauty & Healthy</a></li>
    <li><a href="#">Baby & Toys</a></li>
    <li><a href="#">Subermarket</a></li>
  </ul>
  <div class="brand-logos">
    <div class="right">
      <h2>Brands</h2>
      <ul>
        <li><a href="#"><img src="" alt=""></a></li>
        <li><a href="#"><img src="" alt=""></a></li>
        <li><a href="#"><img src="" alt=""></a></li>
        <li><a href="#"><img src="" alt=""></a></li>
        <li><a href="#"><img src="" alt=""></a></li>
        <li><a href="#"><img src="" alt=""></a></li>
        <li><a href="#"><img src="" alt=""></a></li>
        <li><a href="#"><img src="" alt=""></a></li>
        <li><a href="#"><img src="" alt=""></a></li>
      </ul>
    </div>
    <div class="left">
      <div class="photo"><a href="#"><img src="" alt=""></a></div>
      <div class="photo"><a href="#"><img src="" alt=""></a></div>
    </div>
  </div>
</section>
