<!-- Section: Filters -->
<section style="background-color: #F7F7FA; padding: 30px 0;">
  <div class="container">
    <div class="info row">
      <div class="filters col-sm-3">
        <!-- Brand Filter -->
        <section class="accordion" id="accordionExample" style="background: none;">
          <div class="">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne"
                style="border: none;background: none; color: #404553;font-weight: bolder;">
                Brand
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="form-check pl-0 mb-3">
                  <input type="checkbox" class="form-check-input filled-in" id="Samsung">
                  <label class="form-check-label text-uppercase card-link-secondary" for="Samsung">Samsung</label>
                </div>
                <div class="form-check pl-0 mb-3">
                  <input type="checkbox" class="form-check-input filled-in" id="Apple">
                  <label class="form-check-label text-uppercase card-link-secondary" for="Apple">Apple</label>
                </div>
                <div class="form-check pl-0 mb-3">
                  <input type="checkbox" class="form-check-input filled-in" id="collectible">
                  <label class="form-check-label text-uppercase card-link-secondary"
                    for="collectible">Collectible</label>
                </div>
                <div class="form-check pl-0 mb-3 pb-1">
                  <input type="checkbox" class="form-check-input filled-in" id="Xiaomi">
                  <label class="form-check-label text-uppercase card-link-secondary" for="Xiaomi">Xiaomi</label>
                </div>
                <div class="form-check pl-0 mb-3 pb-1">
                  <input type="checkbox" class="form-check-input filled-in" id="HUAWEI">
                  <label class="form-check-label text-uppercase card-link-secondary" for="HUAWEI">HUAWEI</label>
                </div>
                <div class="form-check pl-0 mb-3 pb-1">
                  <input type="checkbox" class="form-check-input filled-in" id="Lenovo">
                  <label class="form-check-label text-uppercase card-link-secondary" for="Lenovo">Lenovo</label>
                </div>
                <div class="form-check pl-0 mb-3 pb-1">
                  <input type="checkbox" class="form-check-input filled-in" id="Nokia">
                  <label class="form-check-label text-uppercase card-link-secondary" for="Nokia">Nokia</label>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Brand Filter -->
        <!-- Product Rating Filter -->
        <section class="accordion" id="accordionTwo" style="background: none;">
          <div class="">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                aria-expanded="true" aria-controls="collapseTwo"
                style="border: none;background: none; color: #404553; font-weight: bolder;">
                Product Rating
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
              data-bs-parent="#accordionTwo">
              <div class="accordion-body">
                <a href="#!">
                  <ul class="rating list-unstyled d-flex">
                    <li>
                      <i class="fas fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                      <i class="far fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                      <p class="small text-uppercase card-link-secondary px-2">&amp; Up</p>
                    </li>
                  </ul>
                </a>
                <a href="#!">
                  <ul class="rating list-unstyled d-flex">
                    <li>
                      <i class="fas fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                      <i class="far fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                      <i class="far fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                      <p class="small text-uppercase card-link-secondary px-2">&amp; Up</p>
                    </li>
                  </ul>
                </a>
                <a href="#!">
                  <ul class="rating list-unstyled d-flex">
                    <li>
                      <i class="fas fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                      <i class="far fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                      <i class="far fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                      <i class="far fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                      <p class="small text-uppercase card-link-secondary px-2">&amp; Up</p>
                    </li>
                  </ul>
                </a>
                <a href="#!">
                  <ul class="rating list-unstyled d-flex">
                    <li>
                      <i class="fas fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                      <i class="far fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                      <i class="far fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                      <i class="far fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                      <i class="far fa-star fa-sm text-primary"></i>
                    </li>
                    <li>
                      <p class="small text-uppercase card-link-secondary px-2">&amp; Up</p>
                    </li>
                  </ul>
                </a>
              </div>
            </div>
          </div>
        </section>
        <!-- Product Rating Filter -->
        <!-- Price Filter -->
        <section class="accordion" id="accordionThree" style="background: none;">
          <div class="">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                aria-expanded="true" aria-controls="collapseThree"
                style="border: none;background: none; color: #404553;font-weight: bolder;">
                Price
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionThree">
              <div class="accordion-body">
                <div class="form-check pl-0 mb-3">
                  <input type="checkbox" class="form-check-input filled-in" id="first">
                  <label class="form-check-label text-uppercase card-link-secondary" for="first">UNDER EGP <span
                      style="color: #0E52C1; font-weight: bolder;">1000</span></label>
                </div>
                <div class="form-check pl-0 mb-3">
                  <input type="checkbox" class="form-check-input filled-in" id="Apple">
                  <label class="form-check-label text-uppercase card-link-secondary" for="Apple">EGP <span
                      style="color: #0E52C1; font-weight: bolder;">1000</span> TO EGP
                    <span style="color: #0E52C1; font-weight: bolder;">3000</span></label>
                </div>
                <div class="form-check pl-0 mb-3">
                  <input type="checkbox" class="form-check-input filled-in" id="collectible">
                  <label class="form-check-label text-uppercase card-link-secondary"
                    for="collectible">Collectible</label>
                </div>
                <div class="form-check pl-0 mb-3 pb-1">
                  <input type="checkbox" class="form-check-input filled-in" id="Xiaomi">
                  <label class="form-check-label text-uppercase card-link-secondary" for="Xiaomi">EGP <span
                      style="color: #0E52C1; font-weight: bolder;">3000</span> TO
                    EGP <span style="color: #0E52C1; font-weight: bolder;">5000</span></label>
                </div>
                <div class="form-check pl-0 mb-3 pb-1">
                  <input type="checkbox" class="form-check-input filled-in" id="HUAWEI">
                  <label class="form-check-label text-uppercase card-link-secondary" for="HUAWEI">EGP <span
                      style="color: #0E52C1; font-weight: bolder;">5000</span> TO
                    EGP <span style="color: #0E52C1; font-weight: bolder;">10000</span></label>
                </div>
                <div class="form-check pl-0 mb-3 pb-1">
                  <input type="checkbox" class="form-check-input filled-in" id="Lenovo">
                  <label class="form-check-label text-uppercase card-link-secondary" for="Lenovo">EGP <span
                      style="color: #0E52C1; font-weight: bolder;">10000</span> &
                    ABOVE</label>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Price Filter -->
      </div>
      <!-- Section: Filters -->


      <!-- Section: Products -->
      <div class="products col-sm-9">
        <ul class="list-unstyled d-flex justify-content-center justify-content-lg-between flex-wrap">
          <li *ngFor="let product of productList" style="background-color: #FFFFFF;width: 270px">
            <a class="text-decoration-none">
              <div class="item bg-white py-0 my-2" style="width: 230px; padding: 0 8px; height: auto;">
                <img class="img-responsive w-100" src="assets/Images/All-Products-Display/3.jpg">
                <div class="sml-font" style="color: #404553;margin-bottom: 10px;">{{product.name}}</div>
                <div>EGP <span class="fw-bold">{{product.price}}</span></div>
                <!-- express and rating list-unstyled d-flex  -->
                <div class="d-flex justify-content-between align-items-center" style="margin-top: 10px;">
                  <span class="d-flex px-2 fst-italic fw-bold sml-font express">express</span>
                  <span class="sml-font"> <i class="bi bi-star-fill stars"> {{product.rating}}</i> (14)</span>
                </div>
              </div>
            </a>
            <div class="d-flex justify-content-between mt-4">
              <button (click)="addProductToCart(product)" type="button" class="btn btn-sm mr-1 mb-2"
                style="background-color: #3866DF; color: white;"><i class="bi bi-cart4 me-2"></i>Add to cart</button>
              <button type="button" class="btn btn-light btn-sm mr-1 mb-2"
                (click)="showDetails(product.id)">Details</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
