<section class="d-flex justify-content-center align-items-center">
    <div id="carouselExampleControls" class="carousel slide d-flex justify-content-around align-items-center " data-bs-ride="carousel" style="width:90%;">
       <button class="nextBtn rounded-circle py-1" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
           <i class="bi bi-chevron-left"></i>
           <span class="visually-hidden">Previous</span>
         </button>
       <div class="carousel-inner">
           
         <div class="carousel-item active">
             
           <!-- single page in caroussel -->
      <div class="row">
       <div class="col-5 col-md-2 bg-white py-3 my-2 ">
           <!-- like button -->
           <div class="d-flex justify-content-end align-items">
             <button  class="bg-light sml-like mt-2 px-1 "><i #item1 (click)="addToWish(item1)" class="bi bi-suit-heart"></i></button>
           </div>
           <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
           <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
           <div>EGP <span class="fw-bold">125.00</span></div>
       <!-- express and rating  -->
       <div class="d-flex justify-content-between align-items-center">
           <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
       <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
       </div>
       </div>
       <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item2 (click)="addToWish(item2)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item3 (click)="addToWish(item3)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item4 (click)="addToWish(item4)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item5 (click)="addToWish(item5)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item6 (click)="addToWish(item6)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    
    </div>
         </div>
         <div class="carousel-item">
           <!-- single page in caroussel -->
      <div class="row">
       <div class="col-5 col-md-2 bg-white py-3 my-2 ">
           <!-- like button -->
           <div class="d-flex justify-content-end align-items">
             <button  class="bg-light sml-like mt-2 px-1 "><i #item11 (click)="addToWish(item11)" class="bi bi-suit-heart"></i></button>
           </div>
           <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
           <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
           <div>EGP <span class="fw-bold">125.00</span></div>
       <!-- express and rating  -->
       <div class="d-flex justify-content-between align-items-center">
           <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
       <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
       </div>
       </div>
       <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item12 (click)="addToWish(item12)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item13 (click)="addToWish(item13)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item14 (click)="addToWish(item14)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item15 (click)="addToWish(item15)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item16 (click)="addToWish(item16)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    
    </div>
         </div>
         <div class="carousel-item">
            <!-- single page in caroussel -->
      <div class="row">
       <div class="col-5 col-md-2 bg-white py-3 my-2 ">
           <!-- like button -->
           <div class="d-flex justify-content-end align-items">
             <button  class="bg-light sml-like mt-2 px-1 "><i #item21 (click)="addToWish(item21)" class="bi bi-suit-heart"></i></button>
           </div>
           <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
           <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
           <div>EGP <span class="fw-bold">125.00</span></div>
       <!-- express and rating  -->
       <div class="d-flex justify-content-between align-items-center">
           <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
       <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
       </div>
       </div>
       <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item22 (click)="addToWish(item22)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item23 (click)="addToWish(item23)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item24 (click)="addToWish(item24)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item25 (click)="addToWish(item25)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    <div class="col-5 col-md-2 bg-white py-3 my-2 ">
        <!-- like button -->
        <div class="d-flex justify-content-end align-items">
          <button  class="bg-light sml-like mt-2 px-1 "><i #item26 (click)="addToWish(item26)" class="bi bi-suit-heart"></i></button>
        </div>
        <img class="img-responsive w-100" src="./assets/Images/Product img(1).png">
        <div class="sml-font">CanvasSelect Plus UHS-I SDHC Memory Card 32GB </div>
        <div>EGP <span class="fw-bold">125.00</span></div>
    <!-- express and rating  -->
    <div class="d-flex justify-content-between align-items-center">
        <span class=" d-flex px-2 fst-italic fw-bold sml-font express">express</span>
    <span class="sml-font"> <i class="bi bi-star-fill stars"> 5</i> (14)</span>
    </div>
    </div>
    
    </div>
         </div>
       </div>
      
       <button class="nextBtn rounded-circle py-1" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
           <i class="bi bi-chevron-right "></i>
         <span class="visually-hidden">Next</span>
       </button>
     </div> 
   </section>